.chamada .chamada-subtitle {
    font-family: var(--hepta-slab);
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    color: var(--jet);
    width: 24em;
}

article {
    padding: 58px 0 0;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}



.compartilhar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.compartilhar p {
    width: 6em;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 1.125em;
}

.compartilhar .compartilhar-links {
    display: flex;
    gap: .5em;
    justify-content: flex-start;
    align-items: center;
}

.compartilhar img {
    width: 30px;
}

.materia {
    font-family: var(--pt-sans);
    font-weight: 400;
    font-size: 1.125em;
    color: var(--jet);
    line-height: 25.09px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materia p {
    margin: 1em 0;
    color: var(--jet);
}

blockquote {
    font-family: var(--pt-sans);
    font-weight: 700;
    font-size: 1.125em;
    line-height: 25.09px;
    width: 60%;
    border-left: 1px solid var(--principal);
    margin: 52px 0;
    padding-left: 32px;
}

.materia .enumerado {
    font-weight: 600;
    font-size: 1.5em;
    font-weight: var(--hepta-slab);
    color: var(--preto);
    width: 17em;
}

.imagem-video {
    width: 100%;
    height: 415px;
    background-color: #C4C4C4;
}

.imagem-video .legenda {
    font-family: var(--pt-sans);
    font-weight: 400;
    font-size: 0.875em;
    color: var(--cinza);
}

q {
    font-family: var(--hepta-slab);
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    color: var(--jet);
    margin: 4em 0 1em;
    width: 24em;
}

q::before,
q::after {
    color: var(--principal);
}

.compartilhar-bottom {
    text-align: center;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 1.125em;
    color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.newsletter {
    margin-top: 142px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.newsletter p {
    margin-top: 16px;
}



.editoriais {
    margin: 122px 0 60px;
}

.destaques-posts {
    padding-bottom: 124px;
}


/* Mobile */

@media (max-width: 767px) {
    .chamada {
        padding-bottom: 0;
    }

    .chamada h1 {
        width: 7.5em;
    }

    .chamada .chamada-subtitle {
        width: 13em;
        font-size: 2em;
    }

    article {
        grid-template-columns: 1fr;
    }

    .materia {
        padding: 0 20%;
    }

    .materia p {
        font-size: 2em;
        line-height: 1.3em;
    }

    .compartilhar {
        display: none;
    }

    blockquote {
        font-size: 2em;
        line-height: 1.2em;
        width: 100%;
    }

    .materia .enumerado {
        font-size: 2em;
        padding-bottom: 33px;
    }

    q {
        font-size: 3em;
        width: 10em;
        line-height: 1.3em;
        margin-top: 3em;
    }

    .links {
        gap: 2em;
    }

    .links img {
        width: 50px;
    }

    .newsletter {
        grid-template-columns: 1fr;
    }
}

/* Tablet */

@media (min-width:768px) and (max-width: 1024px) {
    article {
        grid-template-columns: 20% 60% 20%;
    }

    .newsletter {
        grid-template-columns: 1fr;
    }

    .newsletter form input {
        font-size: 22px;
    }
}