/**
 * Breakpoints
 * 320 x 768 Mobile
 * 768 x 1024: Tablet
 * 1024 x 1440: Laptop
 * 1025 x 1200: Laptop L
*/

:root {
    --principal: #d6d818;
    --branco: #fff;
    --preto: #000;
    --platina: #E5E5E5;
    --cinza: #929292;
    --montserrat: "Montserrat", sans-serif;
    --hepta-slab: "Hepta Slab", serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

header {
    background-color: var(--principal);
    padding: 1.938em 5.813em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botao-hamburguer {
    width: 40px;
    height: 24px;
    padding: 6px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
}

.botao-hamburguer:hover {
    cursor: pointer;
}

.botao-hamburguer .linha {
    background-color: var(--preto);
    border: 2px solid var(--preto);
    width: 100%;
    border-radius: 10px;
}

/* TODO: Ver como será o input

.form-pesquisa {
    display: flex;
}

.form-pesquisa label:hover {
    cursor: pointer;
}

.form-pesquisa input {
    display: none;
    border: none;
    border-bottom: 2px solid var(--preto);
    background-color: transparent;
    outline: none;
    padding: 0 0.5em;
    margin-left: 1em;
} */

.banner {
    background-image: url("../images/banner.png");
    height: 55vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3.25em;
}

.chamada {
    width: 50em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.chamada a {
    font-weight: 700;
    font-size: 0.875em;
    font-family: var(--montserrat);
    color: var(--principal);
    text-decoration: none;
}

.chamada hr {
    width: 7.334em;
    height: 0.063em;
    background-color: var(--principal);
    border: none;
}

.chamada h1 {
    font-weight: 800;
    font-family: var(--hepta-slab);
    font-size: 4em;
    text-align: center;
    color: var(--preto);
}

.chamada p a {
    color: var(--preto);
    font-weight: 700;
}

p {
    font-size: 0.875em;
    font-weight: bold;
    font-family: var(--montserrat);
}

p .pipe {
    height: 100%;
    border: 1px solid var(--principal);
    margin: 0 0.5em;
}

p span {
    font-weight: 400;
}

.destaques {
    margin-top: 4em;
    padding: 4.625em 0;
    width: 100%;
    background-color: var(--principal);
}

.marquee-destaques {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    font-family: var(--hepta-slab);
    color: var(--branco);
    overflow: hidden;
    white-space: nowrap;
}

.destaques hr {
    height: 0.125em;
    background: var(--branco);
    border: none;
    margin: 1em 0;
}

.destaques-posts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.75em;
    padding: 3.625em 3.625em 0;
}

.destaque-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.destaque-info {
    margin-top: 3.375em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.destaque-info a {
    text-decoration: none;
}

.destaque-tag {
    color: var(--branco);
    font-family: var(--montserrat);
    font-weight: 700;
}

.destaque-title {
    font-size: 2.25em;
    color: var(--preto);
    font-family: var(--montserrat);
    font-weight: 600;
    max-width: 18em;
}

.destaque-info > div {
    color: var(--preto);
    font-weight: 700;
    font-family: var(--montserrat);
}

.destaque-pipe {
    height: 100%;
    border: 1px solid var(--branco);
    margin: 0 .5em;
}

.destaque-date {
    font-weight: 500;
}

.posts {
    margin: 6.188em 0;
    padding: 0 4.625em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.post-info a {
    text-decoration: none;
    max-width: 17em;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.post-info {
    margin-top: 1.563em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.post-tag {
    color: var(--principal);
    font-weight: 700;
    font-family: var(--montserrat);
}

.post-title {
    color: var(--preto);
    font-weight: 600;
    font-size: 1.5em;
    font-family: var(--hepta-slab);
}

.post-info > div {
    color: var(--preto);
    font-weight: 700;
    font-family: var(--montserrat);
}

.post-pipe {
    height: 100%;
    border: 1px solid var(--principal);
    margin: 0 .5em;
}

.post-date {
    font-weight: 500;
}

.midias {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.podcast, .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 50px 6.25em;
}

.podcast {
    background-color: var(--preto);
}

.podcast-title {
    color: var(--principal);
    font-size: 4em;
    font-family: var(--hepta-slab);
    font-weight: 400;
    width: 5em;
}

.podcast-title span {
    font-weight: 800;
}

.podcast > span {
    font-size: 1.125em;
    color: var(--principal);
    font-family: var(--montserrat);
    margin: 26px 0;
}

.podcast-episodio {
    font-size: 3em;
    color: var(--branco);
    font-weight: 800;
    margin-bottom: 16px;
}

.podcast-descricao {
    font-family: var(--hepta-slab);
    font-weight: 400;
    font-size: 3em;
    color: var(--branco);
    width: 12em;
    letter-spacing: 1px;
}

.podcast a {
    padding: 17px 25px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: var(--hepta-slab);
    color: var(--preto);
    background-color: var(--principal);
    margin-top: 36px;
    text-decoration: none;
}

.newsletter {
    background-color: var(--platina);
}

.newsletter h2 {
    font-size: 4em;
    font-weight: 400;
    font-family: var(--hepta-slab);
}

.newsletter h2 > span {
    font-weight: 800;
}

.newsletter p {
    font-family: var(--hepta-slab);
    font-weight: 500;
    font-size: 2.25em;
    color: var(--cinza);
    width: 11em;
    margin-top: 32px;
}

.newsletter p > span {
    font-weight: 800;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 92px;
    width: 80%;
}

.newsletter form input {
    width: 95%;
    background-color: var(--branco);
    padding: 18px 26px;
    font-size: 1.125em;
    font-weight: 400;
    font-family: var(--montserrat);
    border: none;
    margin-bottom: 14px;
}

.newsletter form button {
    background-color: var(--preto);
    color: var(--principal);
    font-family: var(--hepta-slab);
    font-weight: 700;
    font-size: 1.5em;
    padding: 18px 28px;
    border: none;
}

.newsletter form button:hover {
    cursor: pointer;
}