/**
 * Breakpoints
 * 320 x 768 Mobile
 * 768 x 1024: Tablet
 * 1024 x 1440: Laptop
 * 1025 x 1200: Laptop Large
*/


/* Variáveis */
:root {
    --principal: #d6d818;
    --branco: #fff;
    --preto: #000;
    --platina: #E5E5E5;
    --cinza: #929292;
    --montserrat: "Montserrat", sans-serif;
    --hepta-slab: "Hepta Slab", serif;
    --pt-sans: 'PT Sans', sans-serif;
}

/* Reset & Defaults */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: var(--branco);
    min-width: fit-content;
}

img {
    display: block;
    max-width: 100%;
}

header {
    background-color: var(--principal);
    padding: 1.938em 5.813em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Menu */

.botao-hamburguer {
    width: 40px;
    height: 24px;
    padding: 6px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
}

.botao-hamburguer:hover {
    cursor: pointer;
}

.botao-hamburguer .linha {
    background-color: var(--preto);
    border: 2px solid var(--preto);
    width: 100%;
    border-radius: 10px;
}

/* TODO: Ver como será o input

.form-pesquisa {
    display: flex;
}

.form-pesquisa label:hover {
    cursor: pointer;
}

.form-pesquisa input {
    display: none;
    border: none;
    border-bottom: 2px solid var(--preto);
    background-color: transparent;
    outline: none;
    padding: 0 0.5em;
    margin-left: 1em;
} */

/* Banner */

.banner {
    background-image: url("../images/banner.png");
    height: 55vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 52px;
}

@media (max-width:768px) {
    .banner {
        height: 80vh;
    }   
}

/* Chamada */

.chamada {
    width: 50em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.chamada-title {
    display: flex;
    justify-content: center;
}

.chamada-title h1 {
    width: 90%;
}

.chamada a {
    font-weight: 700;
    font-size: 0.875em;
    font-family: var(--montserrat);
    color: var(--principal);
    text-decoration: none;
}

.chamada hr {
    width: 7.334em;
    height: 0.063em;
    background-color: var(--principal);
    border: none;
}

.chamada h1 {
    font-weight: 800;
    font-family: var(--hepta-slab);
    font-size: 4em;
    text-align: center;
    color: var(--preto);
}

.chamada p a {
    color: var(--preto);
    font-weight: 700;
}

.chamada p {
    font-size: 0.875em;
    font-weight: bold;
    font-family: var(--montserrat);
}

.chamada .pipe {
    height: 100%;
    border: 1px solid var(--principal);
    margin: 0 0.5em;
}

.chamada p span {
    font-weight: 400;
}

@media (max-width:768px) {
    .chamada {
        padding: 5em 0;
        gap: 2em;
    }
    .chamada .chamada-tag  {
        font-size: 2em;
        font-weight: 600;
    }

    .chamada hr {
        width: 15em;
    }
    
    .chamada-title h1 {
        width: 70%;
        font-size: 5em;
    }

    .chamada p{
        font-size: 2em;
    }
}

/* Destaques */

.destaques {
    margin-top: 4em;
    padding: 4.625em 0;
    width: 100%;
    background-color: var(--principal);
}

marquee {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    font-family: var(--hepta-slab);
    color: var(--branco);
    overflow: hidden;
    white-space: nowrap;
}

.destaques hr {
    height: 0.125em;
    background: var(--branco);
    border: none;
    margin: 1em 0;
}

.destaques-posts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.75em;
    padding: 3.625em 3.625em 0;
}

.destaque-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.destaque-info {
    margin-top: 3.375em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.destaque-info a {
    text-decoration: none;
}

.destaque-tag {
    color: var(--branco);
    font-family: var(--montserrat);
    font-weight: 700;
}

.destaque-title {
    font-size: 2.25em;
    color: var(--preto);
    font-weight: 600;
    max-width: 18em;
    font-family: var(--hepta-slab);
}

.destaque-info > div {
    color: var(--preto);
    font-weight: 700;
    font-family: var(--montserrat);
}

.destaque-pipe {
    height: 100%;
    border: 1px solid var(--branco);
    margin: 0 .5em;
}

.destaque-date {
    font-weight: 500;
}

@media (max-width:768px) {
    marquee {
        font-size: 6em;
    }

    .destaques-posts {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .destaques-posts .post {
        margin: 5em 0;
    }

    .post,
    .destaque-image,
    .destaque-image img {
        width: 100%;
    }

    .destaque-info {
        width: 100%;
        padding-left: 10em;
        gap: 1em;
    }

    .destaque-tag {
        font-size: 2em;
    }

    .destaque-title {
        font-size: 3em;
        width: 80%;
    }

    .destaque-info > div {
        font-size: 2em;
    }

    .destaque-pipe {
        border: 2px solid var(--branco);
    }
}

/* Posts */

.posts {
    margin: 100px 0;
    padding: 0 74px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.post-info a {
    text-decoration: none;
    max-width: 17em;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.post-info {
    margin-top: 1.563em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.post-tag {
    color: var(--principal);
    font-weight: 700;
    font-family: var(--montserrat);
    text-transform: uppercase;
}

.post-title {
    color: var(--preto);
    font-weight: 600;
    font-size: 1.5em;
    font-family: var(--hepta-slab);
}

.post-info > div {
    color: var(--preto);
    font-weight: 700;
    font-family: var(--montserrat);
}

.post-pipe {
    height: 100%;
    border: 1px solid var(--principal);
    margin: 0 .5em;
}

.post-date {
    font-weight: 500;
}

@media (max-width:768px) {
    .posts {
        padding: 0;
    }

    .posts .post {
        margin: 2em 0;
    }

    .post-image {
        width: 100%;
        background-color: lightcoral;
        display: flex;
        justify-content: center;
    }

    .post-image img {
        width: 100%;
    }

    .posts .post-info {
        margin-top: 3em;
        padding-left: 10em;
        gap: 1.5em;
    }

    .post-info .post-tag {
        font-size: 2em;
    }

    .post-info .post-title {
        font-size: 3em;
        width: 60%;
    }

    .post-info > div {
        font-size: 2em;
    }

    .post-pipe {
        border: 2px solid var(--principal);
    }
}

/* Mídias */

.midias {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.podcast, .newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 50px 6.25em;
}

.podcast {
    background-color: var(--preto);
}

.podcast-title {
    color: var(--principal);
    font-size: 4em;
    font-family: var(--hepta-slab);
    font-weight: 400;
    width: 5em;
}

.podcast-title span {
    font-weight: 800;
}

.podcast > span {
    font-size: 1.125em;
    color: var(--principal);
    font-family: var(--montserrat);
    margin: 26px 0;
}

.podcast-episodio {
    font-size: 3em;
    color: var(--branco);
    font-weight: 800;
    margin-bottom: 16px;
    font-family: var(--hepta-slab);
}

.podcast-descricao {
    font-family: var(--hepta-slab);
    font-weight: 400;
    font-size: 3em;
    color: var(--branco);
    width: 12em;
    letter-spacing: 1px;
}

.podcast a {
    padding: 17px 25px;
    font-size: 1.5em;
    font-weight: 700;
    font-family: var(--hepta-slab);
    color: var(--preto);
    background-color: var(--principal);
    margin-top: 36px;
    text-decoration: none;
}

.newsletter {
    background-color: var(--platina);
}

.newsletter h2 {
    font-size: 4em;
    font-weight: 400;
    font-family: var(--hepta-slab);
}

.newsletter h2 > span {
    font-weight: 800;
}

.newsletter p {
    font-family: var(--hepta-slab);
    font-weight: 500;
    font-size: 2.25em;
    color: var(--cinza);
    width: 11em;
    margin-top: 32px;
}

.newsletter p > span {
    font-weight: 800;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 92px;
    width: 80%;
}

.newsletter form input {
    width: 95%;
    background-color: var(--branco);
    padding: 18px 26px;
    font-size: 1.125em;
    font-weight: 400;
    font-family: var(--montserrat);
    border: none;
    margin-bottom: 14px;
}

.newsletter form button {
    background-color: var(--preto);
    color: var(--principal);
    font-family: var(--hepta-slab);
    font-weight: 700;
    font-size: 1.5em;
    padding: 18px 28px;
    border: none;
}

.newsletter form button:hover {
    cursor: pointer;
}

@media (max-width:768px) {
    .podcast {
        padding-top: 10em;
        padding-bottom: 10em;
    }

    .podcast > span {
        font-size: 3em;
        margin: 1em 0;
    }

    .podcast-episodio {
        font-size: 5em;
    }

    .podcast-descricao {
        width: 85%;
    }

    .podcast a {
        font-size: 3em;
        padding: 26px 42px;
        margin-top: 1.5em;
    }

    .newsletter {
        padding-top: 8em;
        padding-bottom: 10em;
    }

    .newsletter h2 {
        font-size: 5em;
    }

    .newsletter form {
        width: 100%;
        margin-top: 7em;
    }

    .newsletter form input {
        font-size: 3em;
        padding: 40px 36px;
    }

    .newsletter form button {
        font-size: 3em;
        padding: 26px 42px;
        margin-top: .5em;
    }
}

.editoriais {
    margin: 122px 0;
}

.editoriais hr {
    height: 0.125em;
    background: var(--preto);
    border: none;
}

.editoriais marquee {
    color: var(--preto);
    padding: 22px 0;
}

.playlists {
    padding: 78px 0;
    background-color: var(--platina);
}

.playlists marquee {
    color: var(--preto);
    padding: 22px 0;
}

.playlists hr {
    height: 0.125em;
    background: var(--preto);
    border: none;
}

.playlists-images {
    margin: 116px 0;
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.playlists-images img:nth-child(2) {
    transform: scale(1.1);
}

.instagram {
    padding: 116px 0;
}

.instagram p {
    font-family: var(--hepta-slab);
    font-weight: 800;
    font-size: 3em;
    color: var(--preto);
    text-align: center;
}

.instagram-images {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    background-color: var(--principal);
    padding: 52px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p,
footer a {
    color: var(--preto);
}

footer a {
    text-decoration: none;
}

footer p {
    font-weight: 400;
    font-family: var(--hepta-slab);
    font-size: 3em;
}

.footer-manifesto {
    margin: 32px 0;
}

.manifesto-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--montserrat);
    font-size: 1.125em;
}

.footer-links {
    font-family: var(--hepta-slab);
    font-weight: 700;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 42px 0;
}

.footer-pages a {
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
}

.footer-pages .pipe {
    height: 100%;
    border: 1px solid var(--preto);
    margin: 0 0.5em;
}

@media (max-width:768px) {
    footer {
        padding: 6em 0;
    }

    .footer-logo img {
        transform: scale(1.5);
    }

    .footer-manifesto {
        font-size: 3em;
        font-size: 1.5em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-manifesto p {
        width: 55%;
    }

    .footer-manifesto a {
        font-size: 1.4em;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-links a {
        font-size: 2em;
    }
}